.nav-main {
    display: flex;
    /* flex-direction: row; */
    background: transparent;
    /* background-color: #1f242d; */
    /* color: white; */
    padding: 5px 10px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 -10px 20px #0ef;
}

.mylogo {
    margin-top: 5px;
    margin-left: 50px;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.items {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-top: 20px;
    text-align: center;
}

.items li {
    display: flex;
    margin-bottom: 15px;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    list-style-type: none;
    font-weight: 500;
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay: calc(0.1s * var(--i));
}

.items li:hover,
.items li.active {
    color: #0ef;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

ul {
    display: flex;
    list-style-type: none;
}

.items li {
    margin-right: 40px;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    list-style-type: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.1s * var(--i));
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* li:nth-child(1){
    margin-top: 5px;
}

li:nth-child(2){
    margin-top: 5px;
}

li:nth-child(3){
    margin-top: 5px;
}

li:nth-child(4){
    padding: 5px 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.nav-items{
    display: flex;
    margin-right: 10px;
} */